.js-login, .js-register {
    .login-icon {
        margin: 90px auto -40px;
        background: #e9ecef;
        img {
            width: 50px;
        }
    }
    h2 {
        border-bottom: 1px solid #ccc;
    }
    .jumbotron {
        max-width: 450px;
    }
}